<p id="notice"><%= notice %></p>

<p>
  <strong>Datetime:</strong>
  <%= @report.datetime %>
</p>

<p>
  <strong>Contributor:</strong>
  <%= @report.contributor %>
</p>

<p>
  <strong>Status:</strong>
  <%= @report.status %>
</p>

<p>
  <strong>Description:</strong>
  <%= @report.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @report.location %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
